---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="idk.fm">
	<main>
		<div class="section">
			<h2>intro</h2>
			<p>This portfolio exists to serve as a basic demonstration of my experience, while doubling as a sandbox for tinkering. On the other hand, a humbling dose of imposter syndrome forever ensures that I don't go over the top with such a public demonstration.</p>
		</div>
		<div class="section">
			<h2>resources</h2>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://github.com/agbfm"
					title="GitHub"
					body="Although most commercial work is done behind closed doors, I am building things in the open as much as possible."
				/>
				<Card
					href="https://www.linkedin.com/in/agbfm/"
					title="LinkedIn"
					body="My career experience described in a professional manner, complete with a handsome headshot from my wedding."
				/>
			</ul>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		margin: 0.25rem 0;
	}
	.section {
		margin-top: 2rem;
	}
	p {
		margin: 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
